
.navbar input[type='checkbox'],
 .navbar .hamburger-lines{
    display:none;
   
 }
.navbar{
    box-shadow: 0px 5px 10px 0px #5b75e1;
    position:fixed;
    width:100%;
    background:#3b3a3a;
    color:#dd7f7f;
    opacity: 0.85;
    z-index:999;
}

.navbar-container{
 display: flex;
 justify-content:space-between;
 height:64px;
 align-items:center;
}
.menu-items{
   order:2;
      display: flex;
}
.menu-items li{
    list-style:none;
     margin-left:1.5rem;
     font-size: 1.8rem;
     
}
.logo{
order:1;
font-size:3rem;
}
.navbar a{
    color: #6444e1ee;
    text-decoration:none;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 600;
    
    transition: color 0.3s ease-in-out;
}
.navbar a:hover{
    color:#4f1b4e;
    text-decoration:underline;
    margin-bottom:1px;
}

